<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netfx-Guard" version="1.3.3.2" targetFramework="net45" />
  <package id="netfx-System.Collections.Generic.DictionaryFind" version="1.0.0.0" targetFramework="net45" />
  <package id="netfx-System.Reactive.EventStream" version="1.0.0.0" targetFramework="net45" />
  <package id="netfx-System.Reactive.EventStream.Implementation" version="1.0.1.4" targetFramework="net45" />
  <package id="netfx-System.Reactive.EventStream.Interfaces" version="1.0.1.4" targetFramework="net45" />
  <package id="ReactiveSockets" version="0.2.6" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Tracer" version="1.1.7" targetFramework="net45" />
</packages>