# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

registries:
  nuget-azure-devops:
    type: nuget-feed
    url: https://devdiv.pkgs.visualstudio.com/_packaging/xamarin-xvs/nuget/v3/index.json
    token: ${{secrets.ADO_FEEDPAT}}

updates:
  - package-ecosystem: nuget
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: '07:00'
    registries:
      - nuget-azure-devops
    open-pull-requests-limit: 10
    assignees:
    - xamarin/vscx-tools-platform
    ignore:
      # https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1785587
      - dependency-name: "GitInfo"
        versions: [">=3.0.3"]

  - package-ecosystem: gitsubmodule
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: '07:00'
    open-pull-requests-limit: 10
    assignees:
    - xamarin/vscx-tools-platform
