<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value=".nuget\packages" />
	</config>
	<packageSources>
		<clear />
		<add key="xvs" value="https://devdiv.pkgs.visualstudio.com/_packaging/xamarin-xvs/nuget/v3/index.json" />
	</packageSources>
</configuration>