<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="1.0.34-pre" targetFramework="net45" />
  <package id="netfx-System.AppDomainData" version="1.1.0.0" targetFramework="net45" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.0.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Tracer" version="1.1.7" targetFramework="net45" />
  <package id="Tracer.SystemDiagnostics" version="1.2.1" targetFramework="net45" />
</packages>